.orders-container {
    padding: 20px;
    margin: 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.orders-title {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
    text-align: center;
}
.create-order-button {
    padding: 10px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #007bff; /* Blue */
    color: #fff;
    cursor: pointer;
}

.search-container { 
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-select {
    padding: 10px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #f0f5ff; /* Light blue */
    color: #333;
}

.orders-list {
    list-style: none;
    padding: 0;
}

.order-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-item h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.order-item p {
    margin-bottom: 8px;
    font-size: 16px;
    color: #666;
}

.order-icon {
    margin-right: 10px;
    color: #007bff; /* Blue */
}

.sort-icon-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sort-icon {
    font-size: 16px; /* Adjust the size as needed */
    margin-left: 5px;
    color: #666; /* Change the color as desired */
}
.create-order,
.view-orders {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin: 10px;
}

.create-order:hover,
.view-orders:hover {
  background-color: #0056b3;
}