/* Container for the whole page */
.warehouses-page {
   padding: 20px;
}

/* Header styling */
.warehouse-header {
    margin-bottom: 20px;
    border-bottom: 1px solid #000; /* Add this line */
}


/* Search container styling */
.warehouse-search-container {
   display:flex;
   justify-content: space-between; /* Align elements to the start */
   align-items: center;
}

.warehouse-search-container input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    width: 70%;
    box-sizing: border-box;
    margin-right: 10px; /* Add some space between the input and the button */
}

.warehouse-search-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}


.warehouse-search-container button:hover {
    background-color: #0056b3;
}

/* Warehouse item container styling */
.warehouse-item-container {
    display: flex;
    flex-wrap: wrap;
}

/* Warehouse items */
.item {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 5px;
    width:400px;
}

/* Edit button styling */
button {
    margin-top: 20px;
    align-self: center;
}